<section class="portfolio m-5" id="work" >
    <div class="container">
        <div class="main-title">
            <h2 class="text-center services-header">PORTFOLIO</h2>
            <h6 class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h6>
            <div class="line"></div>
        </div> 
        <div class="row mt-5">
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <div class="port-card card  border-0 shadow-lg  mb-5 bg-body rounded mx-2" >
                    <div class="port-img">
                        <img src="assets\images\post-3.jpg" class="card-img-top" alt="work-1">
                    </div>
                    <div class=" card-body  my-3 d-flex justify-content-between">
                        <div class="port-info">
                            <h4>Lorem impsum dolor</h4>
                            <h5><span>Web Design </span>/ 18 Sep. 2018</h5>
                        </div>
                        <div class="port-icon border rounded-circle mx-2 d-flex justify-content-center align-items-center">
                            <i class="fas fa-plus"></i>                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <div class="port-card card  border-0 shadow-lg  mb-5 bg-body rounded mx-2" >
                    <div class="port-img">
                        <img src="assets\images\post-2.jpg" class="card-img-top" alt="work-2">
                    </div>
                    <div class=" card-body  my-3 d-flex justify-content-between">
                        <div class="port-info">
                            <h4>Lorem impsum dolor</h4>
                            <h5><span>Web Design </span>/ 18 Sep. 2018</h5>
                        </div>
                        <div class="port-icon border rounded-circle mx-2 d-flex justify-content-center align-items-center">
                            <i class="fas fa-plus"></i>                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <div class="port-card card  border-0 shadow-lg  mb-5 bg-body rounded mx-2" >
                    <div class="port-img">
                        <img src="assets\images\post-3.jpg" class="card-img-top" alt="work-3">
                    </div>
                    <div class=" card-body  my-3 d-flex justify-content-between">
                        <div class="port-info">
                            <h4>Lorem impsum dolor</h4>
                            <h5><span>Web Design </span>/ 18 Sep. 2018</h5>
                        </div>
                        <div class="port-icon border rounded-circle mx-2 d-flex justify-content-center align-items-center">
                            <i class="fas fa-plus"></i>                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <div class="port-card card  border-0 shadow-lg  mb-5 bg-body rounded mx-2" >
                    <div class="port-img">
                        <img src="assets\images\work-4.jpg" class="card-img-top" alt="work-4">
                    </div>
                    <div class=" card-body  my-3 d-flex justify-content-between">
                        <div class="port-info">
                            <h4>Lorem impsum dolor</h4>
                            <h5><span>Web Design </span>/ 18 Sep. 2018</h5>
                        </div>
                        <div class="port-icon border rounded-circle mx-2 d-flex justify-content-center align-items-center">
                            <i class="fas fa-plus"></i>                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <div class="port-card card  border-0 shadow-lg  mb-5 bg-body rounded mx-2" >
                    <div class="port-img">
                        <img src="assets\images\work-5.jpg" class="card-img-top" alt="work-5">
                    </div>
                    <div class=" card-body  my-3 d-flex justify-content-between">
                        <div class="port-info">
                            <h4>Lorem impsum dolor</h4>
                            <h5><span>Web Design </span>/ 18 Sep. 2018</h5>
                        </div>
                        <div class="port-icon border rounded-circle mx-2 d-flex justify-content-center align-items-center">
                            <i class="fas fa-plus"></i>                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <div class="port-card card  border-0 shadow-lg  mb-5 bg-body rounded mx-2" >
                    <div class="port-img">
                        <img src="assets\images\work-6.jpg" class="card-img-top" alt="work-6">
                    </div>
                    <div class=" card-body  my-3 d-flex justify-content-between">
                        <div class="port-info">
                            <h4>Lorem impsum dolor</h4>
                            <h5><span>Web Design </span>/ 18 Sep. 2018</h5>
                        </div>
                        <div class="port-icon border rounded-circle mx-2 d-flex justify-content-center align-items-center">
                            <i class="fas fa-plus"></i>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>